

<table class="table">
  <thead>
    <tr class="table-success">
      <!-- Add these lines inside the thead section of your table -->
      <th class="text-center">Id</th>
      <th class="text-center">Title</th>
      <th class="text-center">Category</th>
      <th class="text-center">Brand</th>
      <th class="text-center">Discount</th>
      <th class="text-center">Rating</th>
      <th class="text-center">Price ($)</th>
      <th class="text-center">Quantity</th>
      <th class="text-center"></th>

    </tr>
  </thead>

  <tr *ngFor="let c of cart">
    <td class="text-center mt-1">{{ c.id }}</td>
    <td class="text-center">{{ c.title }}</td>
    <td class="text-center">{{ c.category }}</td>
    <td class="text-center">{{ c.brand }}</td>
    <td class="text-center">{{ c.discountPercentage }}%</td>
    <td class="text-center">{{ c.rating }}</td>
    <td class="text-center">${{ c.price }}</td>
    
    <td class="text-center">
      <button type="button" class="btn btn-outline-secondary btn-sm p-0" (click)="decreaseQuantity(c)">
        <i class="bi bi-dash"></i>
      </button>
      {{ c.quantity }}
      <button type="button" class="btn btn-outline-secondary btn-sm p-0" (click)="increaseQuantity(c)">
        <i class="bi bi-plus"></i>
      </button>
    </td>
    <td class="text-center">
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteItem(c)">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="6" class="text-end">Total Cost:</td>
    <td class="text-center">${{ totalCost.toFixed(2) }}</td>
  </tr>
</table>


<button type="button" class="btn btn-success btn-block mb-4" (click)="back()">
  Back
</button>
