
<div *ngIf="isOnline" >
    <ul ngbNav #nav="ngbNav" class="nav-tabs ">
        <li ngbNavItem class="nav-item active"><a ngbNavLink class="nav-link" [routerLink]="['/Home']">Home</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/movie']">Movie</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/task']">Task</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/product']">Product</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/Employee']">Employee</a></li>
        <!-- <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/Tempdemo']">TempFormDemo</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/RectiveDemo']">ReactiveFormDemo</a></li> -->
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/Studentform']">Student Form</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/StudentReactive']">Student Form Reactive</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/LoginComponent']">Login</a></li>
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/MachineLogin']">Machine Login</a></li>
        <!-- <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/Machinetest1list']">Machine List</a></li> -->
        <li ngbNavItem class="nav-item"><a ngbNavLink class="nav-link" [routerLink]="['/productdetail']">Machine Product</a></li>
        
    </ul>
        
</div>

<router-outlet></router-outlet>
