<!-- Default form register -->
<div class="col-6 mx-auto mt-2">
    <form
      [formGroup]="studentInfo" (ngSubmit)="onSubmit()"
      class="text-center border border-link pt-2 mt-4 mb-4 mx-auto bg-success "
    >
      <p class="h2 mb-4 mt-2 text-light">Sign up</p>
      <div class="form-row mb-4 col-10  mx-auto">
        <div class="text-light col-1">  Fullname:</div>
          <input
            type="text"
            id="defaultRegisterFormFirstName"
            class="form-control "
            placeholder="Enter Full Name"
            name="Name"
            formControlName="fullname"
            required
          />
        </div>
      
      <!-- E-mail -->
      <div class="col-10 mx-auto">
        <div class="text-light col-1">Email:</div>
      <input
        type="email"
        id="defaultRegisterFormEmail"
        class="form-control mb-4 "
        placeholder="Enter E-mail"
        name="email"
        formControlName="email"
       
        
      />
      <div *ngIf="studentInfo.get('email')?.hasError('required') && studentInfo.get('email')?.touched" class="text-danger">
        Email is required.
      </div>
      <div *ngIf="studentInfo.get('email')?.hasError('email') && studentInfo.get('email')?.touched" class="text-danger">
        Please enter a valid email address.
      </div>
    </div>
      <!-- Password -->
      <div class="col-10 mx-auto">
        <div class="text-light col-1">Password:</div>
          <input
          type="password"
          id="defaultRegisterFormPassword"
          class="form-control mb-4"
          placeholder="Enter Password"
          aria-describedby="defaultRegisterFormPasswordHelpBlock"
          name="password"
          formControlName="password"
          />
          <div *ngIf="studentInfo.get('password')?.hasError('required') && studentInfo.get('password')?.touched" class="text-danger">
            Password is required.
          </div>
          <div *ngIf="studentInfo.get('password')?.hasError('weakPassword') && studentInfo.get('password')?.touched" class="text-danger">
            Password must contain at least one number, one uppercase letter, one lowercase letter, and one special character.
          </div>
        </div>
        <div class="col-10 mx-auto">
          <div class="text-light col-3">Confirm Password:</div>
      <input
        type="password"
        id="defaultRegisterFormPassword"
        class="form-control mb-4"
        placeholder="ReEnter Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock"
        formControlName="confirmPass"
      />
    
      </div>
      <div class="col-10 mx-auto">
        <div class="text-light col-1">Phone:</div>
      <input
        type="text"
        id="defaultRegisterPhonePassword"
        class="form-control mb-4"
        placeholder="Enter Phone number"
        aria-describedby="defaultRegisterFormPhoneHelpBlock"
        name="phone"
        formControlName="phone"
      />
      </div>
      <div class="col-10 mx-auto">
        <div class="text-light col-1">Address:</div>
      <input
        type="text"
        id="defaultRegisterPhonePassword"
        class="form-control mb-4"
        placeholder="Enter Address"
        aria-describedby="defaultRegisterFormPhoneHelpBlock"
        name="address"
        formControlName="address"
      />
    </div>
      <div class="custom-control custom-radio custom-control-inline col-10 mx-auto">
        <span class="p-2 text-light" name="gender" formControlName="gender">Gender : </span>
        <input
          type="radio"
          class="custom-control-input"
          id="defaultInline1"
          name="gender"
          
          value="Male"
          formControlName="gender"
          
        />
        <label class="custom-control-label p-2 text-light" for="defaultInline1">Male</label>
    
        <input
          type="radio"
          class="custom-control-input"
          id="defaultInline2"
          name="gender"
          value="Female"
          formControlName="gender"
       
        />
        <label class="custom-control-label p-2 text-light" for="defaultInline2" >Female</label>
      </div>
    
    
      <div class="custom-control custom-radio custom-control-inline mb-2 col-10 mx-auto">
        <span class="p-2 text-light" name="Lang" formControlName="Lang">Language : </span>
        <input
          type="checkbox"
          class="custom-control-input"
          id="javaCheckbox"
          name="Lang"
          formControlName="Lang"
          value="Java"
          
          
        />
        <label class="custom-control-label p-2 text-light" for="javaCheckbox">Java</label>
    
        <input
          type="checkbox"
          class="custom-control-input"
          id="angularCheckbox"
          name="Lang"
          formControlName="Lang"
          value="Angular"
          
       
        />
        <label class="custom-control-label p-2 text-light" for="angularCheckbox" >Angular</label>
        <input
          type="checkbox"
          class="custom-control-input"
          id="springCheckbox"
          name="Lang"
          formControlName="Lang"
          value="Spring"
       
        />
        <label class="custom-control-label p-2 text-light" for="springCheckbox" >Spring</label>
        <input
          type="checkbox"
          class="custom-control-input"
          id="sqlCheckbox"
          name="Lang"
          formControlName="Lang"
          value="Sql"
       
        />
        <label class="custom-control-label p-2 text-light" for="sqlCheckbox" >SQL</label>
        <input
          type="checkbox"
          class="custom-control-input"
          id="PythonCheckbox"
          name="Lang"
          formControlName="Lang"
          value="Python"
       
        />
        <label class="custom-control-label p-2 text-light" for="PythonCheckbox" >Python</label>
        <input
          type="checkbox"
          class="custom-control-input"
          id="reactjsCheckbox"
          name="Lang"
          formControlName="Lang"
          value="ReactJs"
       
        />
        <label class="custom-control-label p-2 text-light" for="reactjsCheckbox" >ReactJs</label>
      </div>


      <div class="col-10 mx-auto">
      <div class="text-light col-1 mt-1">State:</div>
      <select class="browser-default custom-select form-control border-link " name="state" formControlName="state" >
        <option value="" disabled >Choose State</option>
        <option name="state" value="Maharashtra" selected>Maharashtra</option>
        <option name="state" value="Gujarat">Gujarat</option>
        <option name="state" value="Rajasthan">Rajasthan</option>
        <option name="state" value="Uttar Pradesh">Uttar Pradesh</option>
        <option name="state" value="Delhi">Delhi</option>
      </select>
      </div>

      
       
      <div class="col-10 mx-auto">
          <button
          mdbBtn
          color="info"
          block="true"
          class="btn btn-light my-4"
          type="submit"
          >
          Sign in
        </button>
    </div>
    </form>
    </div>