@import "~bootstrap-icons/font/bootstrap-icons.css";

/*.table-container  { 
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd; 
  }

  .ngx-pagination .current {
    background-color: #21e8b3;
  }
*/
  .table-container-dark {
    background-color: #333;
    color: #fff; 
  }
  
  .dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    color: white;
  }

  .table-container tr:hover {
    background-color: rgba(140, 250, 153, 0.199);/* Change to your desired hover color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }