<body
  [ngClass]="{ 'table-container-dark': darkMode, 'table-container': !darkMode }"
>
  <div *ngIf="isOnline" class="table-container p-2">
    <div class="dark-mode-toggle form-check form-switch ">
      <label>
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="darkMode"
          (change)="toggleDarkMode()"
        />
        <label class="text-dark">Dark</label>
      </label>
    </div>
    <h1 class="text-center text-success p-3">Product</h1>
    <div class="table-responsive mx-auto  mb-5 pt-3 ">
      <ul
        class="card-body text-center"
        *ngIf="product"
        style="font-size: large"
      >
      <div class="row">
        <p class="list-group-item col">
          <img
            src="{{ product.thumbnail }}"
            style="height: 350px"
            class="img-thumbnail"
          />
        </p>
        <div class="col">
        <p class="list-group-item ">Id : {{ product.id }}</p>
        <p class="list-group-item">Title : {{ product.title }}</p>
        <p class="list-group-item">Category : {{ product.category }}</p>
        <p class="list-group-item">Price : ${{ product.price }}</p>
        <p class="list-group-item">Brand : {{ product.brand }}</p>
        <p class="list-group-item">Description : {{ product.description }}</p>

        <p class="list-group-item">
          Discount Percentage : {{ product.discountPercentage }}%
        </p>
        <p class="list-group-item">Rating : {{ product.rating }}</p>
    </div>
</div>
      </ul>

      <div class="d-flex justify-content-center align-items-center mt-5">
        <button
          type="button"
          class="btn btn-success btn-block mb-4"
          (click)="back()"
        >
          Back
        </button>
      </div>
    </div> 
  </div>
</body>
<div *ngIf="!isOnline" class="d-flex justify-content-center">
  <img src="../../assets/no-connection.jpg" />
</div>
